<header class="header">
  <div class="container container-header">
    <nav class="nav">
      <a href="./index.html" aria-label="logo green harvest">
        <svg class="nav-logo-svg" width="12" height="12">
          <use href="/img/icons.svg#logo"></use>
        </svg>
        <svg class="nav-logo-text-svg" width="148" height="12">
          <use href="/img/icons.svg#logo-text"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#howitworks" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#vegetables" class="nav-link">Vegetables</a>
        </li>
        <li class="nav-item">
          <a href="#reviews" class="nav-link">Reviews</a>
        </li>
      </ul>
      <a href="#order" aria-label="button order" class="nav-btn">Shop now</a>
      <button
        class="nav-btn-mob js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        aria-label="mobile menu open"
      >
        <svg class="nav-btn-mob-icon" width="21" height="16">
          <use href="./img/icons.svg#icon-menu-mob"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!-- modal-menu -->

  <div class="backdrop js-menu-container" id mobile-menu>
    <div class="modal-menu">
      <button
        class="modal-menu-close js-close-menu"
        type="button"
        aria-label="button mobile menu close"
      >
        <svg class="modal-menu-close-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <nav class="modal-menu-nav">
        <ul class="modal-menu-list">
          <li class="modal-menu-item">
            <a href="#howitworks" class="modal-menu-link">How It Works</a>
          </li>
          <li class="modal-menu-item">
            <a href="#vegetables" class="modal-menu-link">Vegetables</a>
          </li>
          <li class="modal-menu-item">
            <a href="#reviews" class="modal-menu-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <a
        href="#order"
        aria-label="butto mobile menu order"
        class="modal-menu-btn"
      >
        Shop now
      </a>
    </div>
  </div>
</header>
