<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="#">
        <svg class="nav-logo-svg" width="168" height="16">
          <use href="/img/icons.svg#icon-logo-mob"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">How It Works<a href="#" class="nav-link"></a></li>
        <li class="nav-item">Vegetables<a href="#" class="nav-link"></a></li>
        <li class="nav-item">Reviews<a href="#" class="nav-link"></a></li>
      </ul>
      <button class="nav-btn">Shop now</button>
      <button class="nav-btn-mob">Shop now</button>
    </nav>
  </div>

  <!-- modal-menu -->

  <div class="backdrop">
    <div class="modal-menu">
      <button class="modal-menu-close" type="button">X</button>
      <nav class="modal-menu-nav">
        <ul class="modal-menu-list">
          <li class="modal-menu-item">
            <a href="#" class="modal-menu-lik">How It Works</a>
          </li>
          <li class="modal-menu-item">
            <a href="#" class="modal-menu-lik">Vegetables</a>
          </li>
          <li class="modal-menu-item">
            <a href="#" class="modal-menu-lik">Reviews</a>
          </li>
        </ul>
      </nav>
      <button class="modal-menu-btn" type="button">Shop now</button>
    </div>
  </div>
</header>
