<section class="section-hero">
  <div class="image-and-hero">
    <div class="hero-div">
      <h1 class="h1-hero">organic vegetables to your diet today!</h1>
      <p class="p-hero">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="background-img">
      <picture>
        <source
          scrset="/img/hero/hero-1x-mob.jpg 1x, /img/hero/hero-2x-mob.jpg 2x"
          type="image/web"
        />
        <img
          src="/img/hero/hero-1x-mob.jpg"
          width="375px"
          height="712px"
          class="image container"
        />
      </picture>
    </div>
  </div>
</section>
