<section class="container">
  <div class="hiw_wrap">
    <div class="hiw_img_wrap">
      <div class="img_hiw"></div>
    </div>
    <div class="hiw_content_wrap">
      <h2 class="visually-hidden">Order vegetable</h2>
      <h3 class="hiw_titlle">
        To order your <span class="hiw_titlle_wrap">vegetable</span> basket,
        simply follow these
        <span class="hiw_titlle_wrap">easy steps</span>
      </h3>
      <p class="hiw_content_text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="hwi_list">
        <li class="hwi_list_item">
          <div class="icon_wrap">
            <svg class="icon-Ellipse-36" width="52px" height="52px">
              <use
                href="../img/how_it_works/elipse36.svg#icon_Ellipse_36"
              ></use>
            </svg>
          </div>
          <div class="list_item_content">
            Just choose
            <span class="item_content_wrap">the vegetable</span> you want to
            order by clicking on the checkboxes
            <span class="item_content_wrap">next to it</span>.
          </div>
        </li>
        <li class="hwi_list_item">
          <div class="icon_wrap">
            <svg class="icon-Ellipse-36" width="52px" height="52px">
              <use
                href="../img/how_it_works/elipse36.svg#icon_Ellipse_36"
              ></use>
            </svg>
          </div>
          <div class="list_item_content">
            Click on <span class="item_content_wrap">the basket</span> and fill
            out the form.
          </div>
        </li>
        <li class="hwi_list_item">
          <div class="icon_wrap">
            <svg class="icon-Ellipse-36" width="52px" height="52px">
              <use
                href="../img/how_it_works/elipse36.svg#icon_Ellipse_36"
              ></use>
            </svg>
          </div>
          <div class="list_item_content">
            Sit back and relax! Your
            <span class="item_content_wrap">fresh vegetables</span> basket will
            be delivered.
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
