<section class="container">
  <div class="hiw_wrap">
    <div class="hiw_img_wrap">
      <img
        src="../img/how_it_works/Rectangle.jpg"
        class="img_hiw"
        alt="Girl cutting an apple"
      />
    </div>
    <div class="hiw_content_wrap">
      <h3 class="hiw_titlle">
        To order your <span class="hiw_titlle_wrap">vegetable</span> basket,
        simply follow these
        <sapn class="hiw_titlle_wrap">easy steps</sapn>
      </h3>
      <p class="hiw_content_text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ul class="hwi_list">
        <li class="hwi_list_item">
          Just choose <span class="hwi_list_item_wrap">the vegetable</span> you
          want to order by clicking on the checkboxes
          <span class="hwi_list_item_wrap">next to it</span>.
        </li>
        <li class="hwi_list_item">
          Click on <span class="hwi_list_item_wrap">the basket</span> and fill
          out the form.
        </li>
        <li class="hwi_list_item">
          Sit back and relax! Your
          <span class="hwi_list_item_wrap">fresh vegetables</span> basket will
          be delivered.
        </li>
      </ul>
    </div>
  </div>
</section>
