<section class="vegetables" id="vegetables">
  <div class="container vegetables-container">
    <div class="org-veg-title">
      <h2 class="organic-vegetables-title">
        Organic <span class="vegetables-span">vegetables</span>
      </h2>
      <p class="organic-vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="vegetables-info">
          <h3 class="vegetables-list-title">eggplant</h3>
          <p class="vegetables-list-text">50 UAH / kg</p>
        </div>
        <img
          srcset="
            /img/vegetables/eggplant-2x.png 2x,
            /img/vegetables/eggplant-1x.png 1x
          "
          src="/img/vegetables/eggplant-1x.png"
          alt="eggplant"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-info">
          <h3 class="vegetables-list-title">leek</h3>
          <p class="vegetables-list-text">60 UAH / kg</p>
        </div>
        <img
          srcset="
            /img/vegetables/leek-2x.png 2x,
            /img/vegetables/leek-1x.png 1x
          "
          src="/img/vegetables/leek-1x.png"
          alt="leek"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-info">
          <h3 class="vegetables-list-title">mushrooms</h3>
          <p class="vegetables-list-text">40 UAH / kg</p>
        </div>
        <img
          srcset="
            /img/vegetables/mushrooms-2x.png 2x,
            /img/vegetables/mushrooms-1x.png 1x
          "
          src="/img/vegetables/mushrooms-1x.png"
          alt="mushrooms"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-info">
          <h3 class="vegetables-list-title">corn</h3>
          <p class="vegetables-list-text">60 UAH / kg</p>
        </div>
        <img
          srcset="
            /img/vegetables/corn-2x.png 2x,
            /img/vegetables/corn-1x.png 1x
          "
          src="/img/vegetables/corn-1x.png"
          alt="corn"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-info">
          <h3 class="vegetables-list-title">sweet potatoes</h3>
          <p class="vegetables-list-text">50 UAH / kg</p>
        </div>
        <img
          srcset="
            /img/vegetables/sweet-potatoes-2x.png 2x,
            /img/vegetables/sweet-potatoes-1x.png 1x
          "
          src="/img/vegetables/sweet-potatoes-1x.png"
          alt="sweet potatoes"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="vegetables-info">
          <h3 class="vegetables-list-title">carrot</h3>
          <p class="vegetables-list-text">40 UAH / kg</p>
        </div>
        <img
          srcset="
            /img/vegetables/carrot-2x.png 2x,
            /img/vegetables/carrot-1x.png 1x
          "
          src="/img/vegetables/carrot-1x.png"
          alt="carrot"
          width="282"
          height="243"
          class="vegetables-image"
        />
      </li>
    </ul>
  </div>
</section>
