<section class="order">
  <h1 class="order-tittle">
    Fresh <span class="harvest">Harvest</span> Box has got you covered
  </h1>
  <p class="order-text">
    Our boxes are packed with delicious, nutritious vegetables, perfect for
    anyone looking to eat healthier or support local farmers. Order your box
    today and start enjoying the best that nature has to offer!
  </p>
  <div class="order-input-form">
    <h2 class="form-tittle">
      Ordering<span class="fromus">from us</span> is quick and easy! Fill out
      <span class="theform">the form</span> below and we will contact you !
    </h2>
    <form name="order-form" autocomplete="off" novalidate>
      <input type="text" name="username" placeholder="Full Name" />
      <input
        class="inp"
        type="email"
        name="email"
        placeholder="Email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        required
      />
      <textarea name="feedback" rows="5" placeholder="Comment"></textarea>
      <button type="button-send" class="send">Send</button>
    </form>
    <div class="order-social">
      <p class="order-soc-text">Follow us on our social networks:</p>
      <ul class="order-soc-list">
        <li class="order-soc-item">
          <a href=" https://www.instagram.com/goitclub/ ">instagram / </a>
        </li>
        <li class="order-soc-item">
          <a
            href="https://www.youtube.com/c/GoIT 
"
            >youtube /
          </a>
        </li>
        <li class="order-soc-item">
          <a
            href="https://www.facebook.com/goITclub/  
"
            >facebook
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
