<section class="order">
  <div class="order-head">
    <h1 class="order-tittle">
      Fresh <span class="harvest">Harvest</span> Box has got you covered
    </h1>
    <p class="order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
  </div>
  <div class="wind">
    <div class="order-input-form">
      <h2 class="form-tittle">
        Ordering<span class="fromus">from us</span> is quick and easy! Fill out
        <span class="theform">the form</span> below and we will contact you !
      </h2>
      <form name="order-form" autocomplete="off" novalidate class="order-form">
        <input
          class="inp"
          type="text"
          name="username"
          placeholder="Full Name"
        />
        <input
          class="inp-mail"
          type="email"
          name="email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
        <textarea
          class="feedback"
          name="feedback"
          rows="5"
          placeholder="Comment"
        ></textarea>
        <button type="button-send" class="send">Send</button>
      </form>
    </div>
    <div class="order-social">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="../img/your-order-img/background-soc-desktop@x1 (1).jpg x1, ../img/your-order-img/background-soc-desktop@x2 (1).jpg x2"
        />
        <source
          media="(min-width: 768px)"
          srcset="
../img/your-order-img/background-soc-tablet@x1 (1).jpg x1, ../img/your-order-img/background-soc-tablet@x2 (1).jpg x2
        "
        />
        <source
          media="(min-width: 320px)"
          srcset="
../img/your-order-img/background-soc-mob@x1 (1).jpg x1, ../img/your-order-img/background-soc-mob@x2 (1).jpg x2
        "
        />
        <img
          src="../img/your-order-img/background-soc-desktop@x1 (1).jpg"
          alt="soc-background"
          class="soc-img"
          width="360"
          height="300"
        />
      </picture>
      <p class="order-soc-text">Follow us on our social networks:</p>
      <ul class="order-soc-list">
        <li class="order-soc-item">
          <a class="soc-inst" href=" https://www.instagram.com/goitclub/ "
            >instagram
          </a>
          <p>/</p>
        </li>
        <li class="order-soc-item">
          <a
            class="soc-ytb"
            href="https://www.youtube.com/c/GoIT 
"
            >youtube
          </a>
          <p>/</p>
        </li>
        <li class="order-soc-item">
          <a
            class="soc-fb"
            href="https://www.facebook.com/goITclub/  
"
            >facebook
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
