<section class="order" id="order">
  <div class="container order-container">
    <div class="order-head">
      <h2 class="order-tittle">
        Fresh <span class="harvest"> Harvest</span> Box has got you covered
      </h2>
      <p class="order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="wind">
      <div class="order-input-form">
        <h2 class="form-tittle">
          Ordering<span class="fromus">from us</span> is quick and easy! Fill
          out <span class="theform">the form</span> below and we will contact
          you !
        </h2>
        <form
          name="order-form"
          autocomplete="off"
          novalidate
          class="order-form"
        >
          <div class="inp-name">
            <input
              class="inp"
              type="text"
              aria-label="Name"
              name="username"
              placeholder="Full Name"
              pattern="[A-z]{3,15}"
              required
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Invalid name, try again</p>
          </div>
          <div class="inp-email">
            <input
              class="inp-mail"
              type="email"
              name="email"
              aria-label="E-mail"
              placeholder="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              required
            />
            <p class="text-valid">Succes!</p>
            <p class="text-invalid">Invalid email, try again</p>
          </div>

          <textarea
            class="feedback"
            name="feedback"
            rows="5"
            placeholder="Comment"
          ></textarea>
          <button type="submit" class="send">Send</button>
        </form>
      </div>
      <div class="order-social">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/your-order-img/background-soc-desktop@x1.jpg 1x,
              /img/your-order-img/background-soc-desktop@x2.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/your-order-img/background-soc-tablet@x1.jpg 1x,
              /img/your-order-img/background-soc-tablet@x2.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              /img/your-order-img/background-soc-mob@x1.jpg 1x,
              /img/your-order-img/background-soc-mob@x2.jpg 2x
            "
          />

          <img
            src="/img/your-order-img/background-soc-desktop@x1.jpg"
            alt="soc-background"
            class="soc-img"
          />
        </picture>
        <p class="order-soc-text">Follow us on our social networks:</p>
        <ul class="order-soc-list">
          <li class="order-soc-item">
            <a
              class="soc-inst"
              href=" https://www.instagram.com/goitclub/ "
              target="_blank"
              rel="noopener noreferrer nofollow"
              >instagram
            </a>
          </li>
          <li class="order-soc-item">
            <p>/</p>
          </li>

          <li class="order-soc-item">
            <a
              class="soc-fb"
              href="https://www.facebook.com/goITclub/  
"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >facebook
            </a>
          </li>
          <li class="order-soc-item">
            <p>/</p>
          </li>
          <li class="order-soc-item">
            <a
              class="soc-ytb"
              href="https://www.youtube.com/c/GoIT 
"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
