.additionally {
  background: #fbfbfb;
}
.additionally-container {
  margin: 0 auto;
  padding: 80px 10px;
  max-width: 320px;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.text-with-background {
  display: block;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  background: #576f35;
  border-radius: 12px;
  max-width: 320px;
  background-image: url(../img/advertisement-img/advertisement-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: -14px;
  padding-left: 14px;
  margin-right: 5px;
}
.additionally-text-part {
  display: block;
  font-weight: 600;
  font-size: 48px;
  line-height: 50px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  padding-left: 10px;
  max-width: 320px;
  margin-left: -14px;
  padding-left: 14px;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .additionally-container {
    padding: 100px 16px;
    max-width: 768px;
  }
  .text-with-background {
    font-size: 64px;
    line-height: 70px;
    line-height: 1.09;
    max-width: 736px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
  }
  .additionally-text-part {
    font-size: 64px;
    line-height: 70px;
    line-height: 1.09;
    max-width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .additionally-container {
    padding: 100px;
    max-width: 1280px;
  }
  .text-with-background {
    display: inline-block;
    font-size: 76px;
    line-height: 1.05;
    max-width: 808px;
    padding-left: 10px;
    padding-top: 3px;
  }
  .additionally-text-part {
    display: inline-block;
    font-size: 76px;
    line-height: 105%;
    max-width: 1054px;
  }
}
