.footer {
  color: #fbfbfb;  
  background-color: #7a3145;
  padding: 40px 0;
}
.footer-top {
  margin-bottom: 80px;
}
.footer-logo-slogan {
  margin-bottom: 40px;
}
.footer-logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}
.footer-logo-icon,
.footer-logo-text {
  fill: #FBFBFB;
}
.footer-slogan {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  max-width: 100%;
}
.footer-menu-list {
  margin-bottom: 40px;
}
.footer-menu-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-menu-link {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
}
.footer-menu-link:hover {
  text-decoration: underline;
}
.footer-address-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-address-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.015em;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.footer-bottom-wrapper-primary {
  display: flex;
  gap: 8px;
}
.footer-bottom-desc {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.015em;
}

@media only screen and (min-width: 375px) {
  .footer-slogan {
    max-width: 296px;
  }
  .footer-bottom {
    max-width: 335px;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 32px;
  }
  .footer-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }
  .footer-logo {
    margin-bottom: 25px;
    gap: 8px;
  }
  .footer-logo-icon {
    width: 18px;
    height: 18px;
  }
  .footer-logo-text {
    width: 168px;
    height: 15px;
  }
  .footer-slogan {
    max-width: 265px;
    margin-right: auto;
  }
  .footer-top-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  .footer-menu-list {
    margin: 0;
  }
  .footer-menu-item:not(:last-child) {
    margin-bottom: 25px;
  }
  .footer-menu-link {
    font-size: 32px;
    letter-spacing: -0.015em;
  }
  .footer-address-list {
    margin: 0;
  }
  .footer-address-item:not(:last-child) {
    margin-bottom: 25px;
  }
  .footer-address-link{
    font-size: 18px;  
    line-height: 1.11;
  }
  .footer-bottom {
    min-width: 704px;
  }
  .footer-bottom-desc {
    font-size: 18px;
    line-height: 1.11;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 50px 100px;    
  }
  .footer-top {
    margin-bottom: 125px;
  }
  .footer-slogan {
    font-size: 16px;
    line-height: 1.25;
  }
  .footer-top-wrapper {
    flex-direction: row;
    gap: 0px;
  }
  .footer-menu-list {
    margin-right: 121px;
  }
  .footer-bottom {
    min-width: 1080px;
  }
}

/* 
.advertisement {
  padding: 80px 20px;
  margin: 0 auto;
}
.advertisement-container {
  width: 335px;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.advertisement-desc {
  max-width: 100%;
  color: #141414;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

.advertisement-desc-accent {
  display: block;
  max-width: 100%;
  color: #FBFBFB;
  border-radius: 12px;
  background-color: #576F35;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  .advertisement {
      padding: 100px 32px;
  }
  .advertisement-container {
      width: 704px;
  }
  .advertisement-desc {
    font-size: 64px;
    font-weight: 600;
    line-height: 1.09;
  }
  .advertisement-desc-accent {
    margin: -8px -16px 0px;
    padding: 8px 16px 0px;
  }
}
@media only screen and (min-width: 1280px) {
  .advertisement {
      padding: 100px 100px;
  }
  .advertisement-container {
    width: 1054px;
  }
  .advertisement-desc {
    font-size: 76px;
    line-height: 1.05;
    width: 100%;
    padding-right: 13px;
  }
  .advertisement-desc-accent {
    display: inline;
    margin-right: 8px;
    width: 77%;
    padding: 0 13px;
    padding-right: 0;
  }
} */

