button {
  border: none;
}

.header {
  background: #576f35;
}
.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 20px;
}
.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 48px;
}
.nav-logo-svg {
}
.nav-list {
  display: none;
}
.nav-item {
}
.nav-link {
}
.nav-btn {
  display: none;
}
.nav-btn-mob {
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .nav {
    padding-top: 32px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: relative;
    z-index: 15;
    background: transparent;
  }
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    max-width: 1280px;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
  }
  .nav-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
  }
  .nav-btn-mob {
    display: none;
  }
  .nav-btn {
    display: block;
    border-radius: 30px;
    padding: 16px 32px;
    background: #7a3145;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
  }
}

/* ========================================================================================================================================================
modal-menu
======================================================================================================================================================== */
.backdrop {
  position: fixed;
  top: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-menu {
  max-width: 375px;
  height: 100vh;
  margin: 0 auto;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7a3145;
}

.modal-menu-list {
  padding: 0 auto;
}
.modal-menu-item {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;

  margin-bottom: 40px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
