button {
  border: none;
}

.header {
  background: #576f35;
}

.nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 48px;
  align-items: baseline;
}

.nav-logo-svg {
  fill: #fbfbfb;
}
.nav-logo-text-svg {
  fill: #fbfbfb;
  margin-left: -6px;
}

.nav-list {
  display: none;
}

.nav-btn {
  display: none;
}
.nav-btn-mob {
  background: transparent;
}
.nav-btn-mob-icon {
  fill: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .nav {
    padding-top: 32px;
    padding-bottom: 50px;
  }
  .nav-logo-svg {
    width: 18px;
    height: 18px;
  }

  .nav-logo-text-svg {
    width: 194px;
    height: 18px;
    margin-left: 8px;
  }
  .nav-btn-mob-icon {
    width: 27px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    position: relative;
    z-index: 15;
    background: transparent;
  }
  .container-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;

    max-width: 1280px;
  }

  .nav {
    padding-bottom: 0;
  }
  .nav-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 8px;
    margin-left: auto;
    margin-right: 20px;
  }
  .nav-item {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;

    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-item:hover {
    color: #7a3145;
    background-color: #fbfbfb;
  }

  .nav-btn-mob {
    display: none;
  }
  .nav-btn {
    display: block;
    border-radius: 30px;
    padding: 16px 32px;
    background-color: #7a3145;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-btn:hover {
    background-color: #622133;
  }
  .backdrop {
    display: none;
  }
}

/* ========================================================================================================================================================
modal-menu
======================================================================================================================================================== */
.backdrop {
  position: fixed;
  top: 0;
  background: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 10;
}

.modal-menu {
  width: 375px;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7a3145;
}
.modal-menu-close {
  background: transparent;

  position: absolute;
  right: 20px;
  top: 20px;

  padding: 0;
}

.modal-menu-close-icon {
  stroke: #fbfbfb;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-close-icon:hover {
  stroke: #b48989;
}
.modal-menu-nav {
  margin: 240px auto 0;
}
.modal-menu-list {
  padding: 0 auto;
}
.modal-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;

  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;

  padding: 12px 16px;
  width: 115px;

  margin-bottom: 8px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-item:hover {
  color: #7a3145;
  background-color: #fbfbfb;
}

.modal-menu-btn {
  margin: 0 auto 40px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;

  background: #7a3145;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 30px;
  padding: 16px 41px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-btn:hover {
  color: #7a3145;
  background-color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .backdrop {
    background: rgba(20, 20, 20, 0.4);
  }
  .modal-menu {
    width: 375px;
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #7a3145;
  }
  .modal-menu-close-icon {
    width: 40px;
    height: 40px;
  }
  .modal-menu-item {
    font-size: 16px;
    line-height: 1.25;

    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;

    padding: 12px 21px;
    width: 135px;

    margin-bottom: 8px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu-btn {
    margin: 0 auto 50px;
    font-size: 18px;
    line-height: 1.11;
    padding: 16px 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
