ol {
  margin: 0;
}

.hiw_wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    #7a3145,
    #7a3145 50%,
    #576f35 50%,
    #576f35
  );
}

.hiw_img_wrap {
  background: #7a3145;
  padding: 40px 0;
}

.img_hiw {
  height: 450px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.3),
      rgba(20, 20, 20, 0.3)
    ),
    url(/img/how_it_works/Rectangle_mob.jpg);
}

@media screen and (min-resolution: 192dpi) and (min-width: 320px) {
  .img_hiw {
    background-image: url(/img/how_it_works/Rectangle_mob@2x.jpg);
  }
}

.hiw_content_wrap {
  background-color: #576f35;
  padding: 80px 0;
}

.hiw_titlle {
  color: #fbfbfb;
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hiw_titlle_wrap {
  color: rgba(251, 251, 251, 0.3);
}

.hiw_content_text {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 40px;
}

.hwi_list {
  list-style: none;
  padding: 0;
  counter-reset: section;
}

.hwi_list_item {
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 12px 24px;
  height: 76px;
  position: relative;
}

.hwi_list_item::before {
  counter-increment: section;
  content: counter(section);
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  position: absolute;
  left: 46px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.list_content_wrap {
  display: flex;

  align-items: center;
  gap: 24px;
}

.circle {
  background: #7a3145;
  border: 5px solid rgb(245 215 223 / 71%);
  border-radius: 50%;
  height: 52px;
  width: 52px;
}

.hwi_list_item:not(:last-child) {
  margin-bottom: 20px;
}

.list_item_content {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
}

.item_content_wrap {
  color: rgba(20, 20, 20);
  font-weight: 700;
}

/*========================
==========MEDIA============
========================*/

@media screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contaner_2 {
    max-width: 514px;
  }
}

@media screen and (min-width: 768px) {
  .hiw_img_wrap {
    padding: 100px 0;
  }

  .img_hiw {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.3),
        rgba(20, 20, 20, 0.3)
      ),
      url(/img/how_it_works/Rectangle_tab.jpg);
    min-height: 559px;
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .img_hiw {
      background-image: url(/img/how_it_works/Rectangle_tab@2x.jpg);
    }
  }

  .hiw_content_wrap {
    padding: 100px 95px;
  }

  .hiw_titlle {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .hiw_content_text {
    margin-bottom: 50px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hiw_wrap {
    justify-content: center;
    flex-direction: row;
  }

  .img_hiw {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.3),
        rgba(20, 20, 20, 0.3)
      ),
      url(/img/how_it_works/Rectangle_desk.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1280px) {
    .img_hiw {
      background-image: url(/img/how_it_works/Rectangle_desk@2x.jpg);
    }
  }

  .hiw_img_wrap {
    min-width: 630px;
    padding: 100px 0;
  }

  .hiw_content_wrap {
    padding: 100px 0;
    max-width: 650px;
  }

  .hiw_titlle {
    margin-bottom: 25px;
    font-size: 32px;
  }

  .hiw_content_text {
    margin-bottom: 50px;
    font-size: 16px;
  }
}
