.hiw_img_wrap {
  background-color: #7a3145;
  padding: 40px 20px;
}

.img_hiw {
  border-radius: 30px;
}

.hiw_content_wrap {
  background-color: #576f35;
  padding: 80px 20px;
}

.hiw_titlle {
  color: #fbfbfb;
  ont-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hiw_titlle_wrap {
  color: rgba(251, 251, 251, 0.3);
}

.hiw_content_text {
  color: #fbfbfb;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 40px;
}

.hwi_list {
}

.hwi_list_item {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  background-color: #fbfbfb;
  border-radius: 15px;
  padding: 12px 59px 12px 24px;
  height: 76px;
}

.hwi_list_item:not(:last-child) {
  margin-bottom: 20px;
}

.hwi_list_item_wrap {
  color: rgba(20, 20, 20);
  font-weight: 700;
}
