.reviews section {
  background: #fbfbfb;
}

.reviews-container {
  padding-left: 20px;
  padding-right: 20px;
}
.reviews-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #141414;
  text-transform: uppercase;
  width: 335px;
  letter-spacing: 0.04em;
}
.reviews-title-span {
  color: #576f35;
}
.reviews-title-text {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #141414;
  width: 335px;
  letter-spacing: -0.01em;
}
.section {
  padding: 80px 0;
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  overflow: hidden;
}
.reviews-item {
  width: 100%;
}
.reviews-item:nth-child(3),
.reviews-item:nth-child(2) {
  display: none;
}
.review-photo {
  border-radius: 100%;
}
.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
  border-radius: 24px;
  border: 1px solid rgba(122, 49, 69, 0.3);
}

.reviewer-name {
  margin-top: 24px;
  margin-bottom: 8px;
}
.reviewer-comment {
  color: rgba(4, 3, 6, 0.4);
  text-align: center;
  font-size: 14px;
}
.slider-container {
  position: relative;
}

.next,
.prev {
  position: absolute;
  cursor: pointer;
  top: 50%;
  border-radius: 50%;
  border: none;
  fill: #7a3145;
  background-color: transparent;
}

.next:hover .arrow-next,
.next:focus .arrow-next,
.prev:hover .arrow-prev,
.prev:focus .arrow-prev {
  fill: #576f35;
}

.next {
  right: -20px;
}

.prev {
  left: -20px;
}

.arrow-prev {
  width: 30px;
  height: 30px;
}

.arrow-next {
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .reviews-container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .reviews-title {
    width: 420px;
    margin-bottom: 25px;
  }
  .reviews-title-text {
    letter-spacing: -0.04em;
    width: 420px;
    margin-bottom: 50px;
  }
  .reviews-list {
    width: 100%;
  }
  .reviews-item {
    width: calc(50% - 18px);
  }
  .reviews-item:nth-child(2) {
    display: list-item;
  }
  .reviewer-comment {
    font-size: 16px;
  }

  .section {
    padding: 100px 0;
  }
  .slider-container {
    width: fit-content;
  }
  .next {
    right: -30px;
  }
  .prev {
    left: -30px;
  }
}

@media (min-width: 1280px) {
  .reviews-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .reviews-list {
    width: 100%;
  }
  .reviews-item {
    width: calc(33.33% - 25px);
  }
  .reviews-item:nth-child(3) {
    display: list-item;
  }
  .next {
    display: none;
  }

  .prev {
    display: none;
  }
}
