.order {
  background-color: #7a3145;
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .order {
    padding: 100px 0;
  }
}

.order-container {
  /* padding: 80px 20px 40px; */
  min-width: 320px;
  max-width: 375px;
}
@media screen and (max-width: 375px) {
  .order-container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .order-container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .order-container {
    padding: 0 100px;
    max-width: 1280px;
  }
}
.order-head {
  margin-bottom: 20px;
  /* min-width: 320px; */
  max-width: 335px;
}
@media screen and (min-width: 768px) {
  .order-head {
    margin-bottom: 50px;
    max-width: 640px;
  }
}
@media screen and (min-width: 1280px) {
  .order-head {
    max-width: 751px;
  }
}
.order-tittle {
  display: inline-block;
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  min-width: auto;
  max-width: 335px;
  /* text-align: left; */
}
@media screen and (min-width: 768px) {
  .order-tittle {
    font-size: 64px;
    line-height: 100%;
    max-width: 640px;
  }
}
@media screen and (min-width: 1280px) {
  .order-tittle {
    max-width: 740px;
  }
}
.harvest {
  color: rgba(251, 251, 251, 0.3);
}
.order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .order-text {
    font-size: 16px;
    line-height: 125%;
    margin-top: 25px;
  }
}
/* ============================================================================================================================================================ */
.wind {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */
  /* margin-bottom: 80px; */
  max-width: 375px;
}
@media screen and (min-width: 768px) {
  .wind {
    margin: auto 38px;
    max-width: 628px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .wind {
    display: -webkit-box;
    gap: 24px;
    flex-wrap: nowrap;
    margin: auto 0;
  }
}
/* ============================================================================================================================================================ */
.order-input-form {
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  height: 533px;
}
@media screen and (min-width: 768px) {
  .order-input-form {
    max-width: 628px;
    padding: 50px 100px;
    height: 534px;
  }
}
@media screen and (min-width: 1280px) {
  .order-input-form {
    max-width: 529px;
    padding: 50px;
  }
}
.form-tittle {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}
.fromus {
  color: #7a3145;
}
.theform {
  color: #576f35;
}
.order-form {
  max-width: 295px;
  height: 213px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media screen and (min-width: 768px) {
  .order-form {
    max-width: 428px;
    height: 306px;
  }
}

@media screen and (min-width: 1280px) {
  .order-form {
    max-width: 429px;
    height: 229px;
  }
}

.inp {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 14px 16px;
  min-width: 240px;
  height: 46px;
  transition: border-color 0.3s ease;
  outline: none;
}

@media screen and (min-width: 375px) {
  .inp {
    min-width: 295px;
  }
}
@media screen and (min-width: 768px) {
  .inp {
    padding: 16px 16px 16px;
    width: 428px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .inp {
    width: 429px;
  }
}
.inp:focus,
.inp-mail:focus,
.feedback:focus {
  border: 1px solid #7a3145;
  scale: 110%;
  transition: 0.4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  font-size: 0.9em;
  transform: translateY(-5px);
}
.inp:not(:placeholder-shown):valid,
.inp-mail:not(:placeholder-shown):valid,
.feedback:not(:placeholder-shown):valid {
  border-color: green;
}

.inp:not(:placeholder-shown):invalid,
.inp-mail:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}
.inp-mail {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 14px 16px;
  min-width: 240px;
  height: 46px;
  transition: border-color 0.3s ease;
  outline: none;
}
@media screen and (min-width: 375px) {
  .inp-mail {
    min-width: 295px;
  }
}
@media screen and (min-width: 768px) {
  .inp-mail {
    padding: 16px 16px 16px;
    width: 428px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .inp-mail {
    width: 429px;
    height: 52px;
  }
}
/* .inp-mail {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  padding: 14px 14px 16px;
  width: 295px;
  height: 46px;
}
@media screen and (min-width: 768px) {
  .inp-mail {
    padding: 16px 16px 16px;
    width: 428px;
    height: 52px;
  }
}

@media screen and (min-width: 1280px) {
  .inp-mail {
    width: 429px;
    height: 52px;
  }
} */
.text-valid,
.text-invalid {
  font-size: 14px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

/* стилізація інформаційного текста при валідному значенні в інпуті */
.inp:not(:placeholder-shown):valid ~ .text-valid,
.inp-mail:not(:placeholder-shown):valid ~ .text-valid {
  display: block;
}

/* стилізація інформаційного текста при не валідному значенні в інпуті */
.inp:not(:placeholder-shown):invalid ~ .text-invalid,
.inp-mail:not(:placeholder-shown):invalid ~ .text-invalid {
  display: block;
}

.feedback {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  padding: 14px 16px;
  width: 295px;
  height: 91px;
  transition: border-color 0.3s ease;
  outline: none;
}
@media screen and (min-width: 768px) {
  .feedback {
    padding: 16px 16px;
    width: 428px;
    height: 95px;
  }
}

@media screen and (min-width: 1280px) {
  .feedback {
    width: 429px;
    height: 95px;
  }
}

.send {
  border-radius: 30px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 295px;
  height: 50px;
  background-color: #576f35;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .send {
    padding: 16px 191px;
    width: 428px;
    height: 52px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .send {
    width: 429px;
  }
}
.send:hover {
  filter: brightness(1.5);
  transition: 200ms;
}
/* ======================================================================================================================================================================== */

.order-social {
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 335px;
  height: 465px;
  background-color: #576f35;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .order-social {
    padding: 50px;
    max-width: 628px;
    height: 490px;
    margin-top: 25;
  }
}

@media screen and (min-width: 1280px) {
  .order-social {
    max-width: 527px;
    height: 534px;
    margin: 0;
  }
}

.soc-img {
  border-radius: 15px;
  width: 295px;
  height: 273px;
  background-color: rgba(20, 20, 20, 0.3);
}
@media screen and (min-width: 768px) {
  .soc-img {
    width: 528px;
    height: 273px;
  }
}

@media screen and (min-width: 1280px) {
  .soc-img {
    width: 427px;
    height: 273px;
  }
}
.order-soc-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-top: 20px;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .order-soc-text {
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
  }
}
.order-soc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 8px;
}

/* .order-soc-list p {
  margin-right: 8px;
} */
.order-soc-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
@media screen and (min-width: 768px) {
  .order-soc-item {
    font-size: 32px;
    line-height: 100%;
  }
}

.soc-fb:hover {
  --lightss: #303bcf;
  text-shadow: 0 0 0.5vh var(--lightss), 0 0 0.5vh var(--lightss),
    0 0 0.5vh var(--lightss), 0 0 0.5vh var(--lightss), 0 0 1vh var(--lightss);
  animation: flicker 7s infinite;
  filter: brightness(1);
}

.soc-ytb:hover,
.soc-inst:hover {
  --lights: rgb(243, 30, 30);
  text-shadow: 0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights),
    0 0 0.5vh var(--lights), 0 0 0.5vh var(--lights), 0 0 1vh var(--lights);
  animation: flicker 7s infinite;
  filter: brightness(1);
}
